

#image {
    padding-top: 150px;
    padding-left: 43%;
  }
  
  #searchbox {
    display: block;
    margin-left: 40%;
    padding-right: 10%;
  }
  
  #buttons {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  
  #bottongoogle {
   margin: 5px;
  }
  
  #lucky {
    margin: 5px;
  }
  